/* My Styles */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    /* background: red; */
    font-family: 'Sharpie-Light';
    font-size: 10em;
  }
  